@charset "UTF-8";

.adminMain {
	width: 100%;
	height: 1000px;
}

.admintop {
	width: 100%;
	height: 100px;
	background-color: lightgray;
	position: fixed;
}

.adtopname {
	width:600px;
	height:100px;
	color: white;
	font-weight: bolder;
	font-size: x-large;
	line-height: 100px;
	margin-left: 50px;
	float: left;
}

.admintopicon{
	width: 200px;
	height: 100px;
	float: left;
	margin-left: 1000px;
}

.adminGoMyPage{
	width: 160px;
	height: 60px;
	font-size: large;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
	margin-top: 20px;
	margin-left: 20px;
	color: white;
}

.sideBar_wrap {
	width: 1900px;
	height: 1000px;
	background-color: white;
}

.sideBar {
	width: 250px;
	height: 1000px;
	background-color: black;
	float: left;
}

.adminintro {
	width: 200px;
	height: 150px;
	float: left;
	color: white;
	margin-left: 20px;
}

.adminBackHome {
	width: 160px;
	height: 50px;
	float: left;
	color: white;
	line-height: 50px;
	margin-left: 40px;
	margin-top: 20px;
	text-align: center;
}

.adminMember {
	width: 160px;
	height: 50px;
	float: left;
	color: white;
	line-height: 50px;
	margin-left: 40px;
	margin-top: 20px;
	text-align: center;
}

.content1Ti {
	width: 450px;
	height: 50px;
	background-color: black;
	color: white;
	font-size: large;
	line-height: 50px;
	text-align: center;
}

.content2Ti {
	width: 450px;
	height: 50px;
	background-color: black;
	color: white;
	font-size: large;
	line-height: 50px;
	text-align: center;
}

.content3Ti {
	width: 450px;
	height: 50px;
	background-color: black;
	color: white;
	font-size: large;
	line-height: 50px;
	text-align: center;
}
.content4Ti{
	width: 1460px;
	height: 30px;
	background-color: black;
	color: white;
	font-size: large;
	line-height: 30px;
	text-align: center;
}

.adminTour {
	width: 160px;
	height: 50px;
	float: left;
	color: white;
	line-height: 50px;
	margin-left: 40px;
	margin-top: 20px;
	text-align: center;
}

.adminWrite {
	width: 160px;
	height: 50px;
	float: left;
	color: white;
	line-height: 50px;
	margin-left: 40px;
	margin-top: 20px;
	text-align: center;
}

.adminAdd {
	width: 160px;
	height: 50px;
	float: left;
	color: white;
	line-height: 50px;
	margin-left: 40px;
	margin-top: 20px;
	text-align: center;
}

.content_wrap {
	float: left;
	width: 1650px;
	height: 900px;
	margin-top: 100px;

}

.content1 {
	float: left;
	width: 450px;
	height: 670px;
	border: 2px solid black;
	border-radius:7px;
	margin-left: 100px;
	margin-top: 50px;
}

.content2 {
	float: left;
	width: 450px;
	height: 670px;
	border: 2px solid black;
	border-radius:7px;
	margin-top: 50px;
	margin-left: 50px;
}

.content3 {
	float: left;
	width: 450px;
	height: 670px;
	border: 2px solid black;
	border-radius:7px;
	margin-top: 50px;
	margin-left: 50px;
}

.content4 {
	float: left;
	width: 1460px;
	height: 130px;
	border: 2px solid black;
	border-radius:7px;
	margin-top: 20px;
	margin-left: 100px;
}
.touraddInput{
	width: 1000px;
	height: 30px;
	margin-top: 30px;
	margin-left: 200px;
}
.tabtn{
	width: 50px;
	height: 30px;
	background-color: #414141;
	color: white;
	border-radius: 10px;
	border-style: none;
}