@charset "UTF-8";

#date {
	width: 130px;
	height: 25px;
	border: 1px, #010101, solid;
	font-size: 16px;
	margin-left: 29px;
}

#datebn {
	width: 50px;
	height: 30px;
	border-style: none;
	background-color: #a36ae3;
	margin-left: 10px;
	color: white;
	border-radius: 7px;
	font-weight: 555;
}

.reserveDate_wrap {
	width: 360px;
	height: 560px;
	border: 1px #010101 solid;
	margin-left: 1300px;
	margin-top: 200px;
	position: fixed;
	margin-left: 1300px;
}

#adult_wrap {
	width: 200px;
	height: 32px;
	border-color: black;
	margin-left: 65px;
	font-size: 15px;
	border: 1px #010101 solid;
}

#child_wrap {
	width: 200px;
	height: 32px;
	border-color: black;
	margin-left: 112px;
	font-size: 15px;
	border: 1px #010101 solid;
}

.all_wrap {
	width: 320px;
	height: 170px;
	margin: 0 auto;
	margin-top: 20px;
	font-size: large;
	font-weight: bold;
}

.select_all {
	width: 360px;
	height: 50px;
	border-bottom: 1px #010101 solid;
	margin: 0 auto;
	margin-top: 20px;
	font-size: large;
	text-align: left;
	line-height: 60px;
	font-size: x-large;
	font-weight: 555;
	font-size: x-large;
}

.selectOption {
	width: 320px;
	height: 180px;
	background-color: lightgray;
	border: 1px #010101 solid;
	margin: 0 auto;
}

.select_btn {
	width: 320px;
	height: 40px;
	margin-left: 20px;
	margin-top: 5px;
	background-color: #a36ae3;
	border-style: none;
	font-size: 22px;
	font-weight: 555;
	color: white;
}

.select_text {
	width: 250px;
	height: 50px;
	margin-left: 20px;
}

.Allmoney {
	width: 320px;
	height: 30px;
	text-align: right;
	line-height: 30px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: bold;
}

#Aresult {
	width: 100px;
	height: 50px;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 20px;
	font-weight: bold;
	color: gray;
	font-weight: bold;
}

#Nad {
	width: 150px;
	height: 30px;
	font-size: 16px;
	font-weight: 555;
	padding-left: 30px;
	font-size: 16px;
}

#Nch {
	width: 150px;
	height: 30px;
	font-size: 16px;
	padding-left: 30px;
	font-weight: 555;
}

#reDay {
	width: 150px;
	height: 30px;
	font-size: 16px;
	padding-left: 30px;
	font-weight: 555;
}

#priceBtn {
	width: 100px;
	height: 30px;
	border-style: none;
	background-color: #a36ae3;
	color: white;
	border-radius: 7px;
	font-weight: 555;
	float: left;
	margin-top: 10px;
}

.Allmoney {
	width: 100px;
	height: 30px;
	border-style: none;
	border-radius: 7px;
	font-weight: 555;
	float: left;
	margin-top: 10px;
	margin-left: 120px;
	margin-right: 20px;
}

/*reservation*/
#frm_1 {
	width: 800px;
	height: 960px;
	margin: 0 auto;
	border: 2px solid black;
}

.reservationTitle {
	width: 800px;
	height: 150px;
}

.ReserveT {
	width: 800px;
	height: 70px;
	background-color: gray;
	color: white;
}

.ReserveTN {
	width: 800px;
	height: 50px;
}

.ReserveP_PN {
	width: 800px;
	height: 50px;
}

.InputIN {
	margin: 0 auto;
	width: 600px;
	height: 350px;
}

.RT {
	margin-top: 20px;
	width: 200px;
	height: 20px;
		margin-left: 30px;
	
}

.RT2 {
	margin-top: 10px;
	width: 200px;
	height: 20px;
	margin-left: 30px;

}
.RN_wrap{
	width: 300px;
	height: 200px;
	background-color: aqua;
	float: left;
	
}
.RN2_wrap{
	width: 300px;
	height: 200px;
	background-color: gray;
	float: left;
	
	
	
}
.RN{
	width: 80px;
	height: 20px;
	margin-top: 20px;
	font-size: medium;
	margin-left: 30px;
	
}

.RN2{
	width: 80px;
	height: 20px;
	margin-top: 30px;
	font-size: medium;
	margin-left: 30px;
	
}

.RTT {
	width: 600px;
	height: 100px;

	margin-top: 20px;
}

#Raccess {
	width: 600px;
	height: 200px;
	margin: 0 auto;
}

#access {
	width: 600px;
	height: 100px;

}

.radioSelect {
	width: 600px;
	height: 70px;
	background-color: yellow;
}

.reserveOK {
	width: 250px;
	height: 50px;
	background-color: aqua;
	margin-left: 150px;
	border-style: none;
	margin-top: 20px;
}

.NOreserve {
	width: 250px;
	height: 50px;
	background-color: yellow;
	border-style: none;
	margin-top: 20px;
}