@charset "UTF-8";

.tour_MainForm {
	width: 1100px;
	height: 1000px;
	background-color: aqua;
}

.tour_wrap {
	width: 320px;
	height: 290px;
	background-color: fuchsia;
	float: left;
	margin-right: 40px;
	margin-bottom: 30px;
	
}

.tourIMG_wrap {
	width: 320px;
	height: 200px;
	background-color: olive;
}
.TN_wrap{
	width: 320px;
	height: 90px;
	background-color: blue;
}

.tourNN_wrap {
	width: 320px;
	height: 90px;
	background-color: lime;
	border-bottom: 1px solid #dadada;
	border-left: 1px solid #dadada;
	border-right: 1px solid #dadada;
}

.tourNUM {
	width: 250px;
	height: 35px;
	background-color: yellow;
	padding-top:10px;
	margin-left: 20px;
	font-size: 20px;
}

.tourNAME {
	width: 250px;
	height: 35px;
	background-color: orange;
	margin-left: 20px;
	font-size: 24px;
}