<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  <mapper namespace="tourMapper">
  
  	<update id="tourUpdate" parameterType="TourNoticeVO">
  		update tourNotice set compared=#{compared}, include=#{include}, exclude=#{exclude}, alert=#{alert}, prepared=#{prepared}, attention=#{attention}, refund=#{refund}, youTube=#{youTube}
  		where tourNum = #{tourNum}
  	</update>
  
  	<delete id="tourDelete" parameterType="TourNoticeVO">
  		delete tourNotice where tourNum = #{tourNum}
  	</delete>
  
  	<insert id="tourWrite" parameterType="TourNoticeVO">
  		<selectKey order="BEFORE" resultType="Integer" keyProperty="num">
  			select seq_tour.nextval from dual		
  		</selectKey>
	  	insert into tourNotice
	  	values(#{num}, #{compared}, #{include}, #{exclude}, #{alert}, #{prepared}, #{attention}, #{refund}, #{tourNum}, #{youTube})
  	</insert>
  	
  	<select id="tourSelect" parameterType="TourNoticeVO" resultType="TourNoticeVO">
  		select * from tourNotice where tourNum =#{tourNum}
  	</select>
  	
	<resultMap type="TourVO" id="tourFile">
		<id property="tourNum" column="tourNum" />
		<result property="compared" column="compared" />
		<result property="include" column="include" />
		<result property="exclude" column="exclude" />
		<result property="alert" column="alert" />
		<result property="prepared" column="prepared" />
		<result property="attention" column="attention" />
		<result property="refund" column="refund" />
		<result property="youTube" column="youTube"/>
		<result property="tNum" column="tNum" />
		<result property="tourName" column="tourName"/>
		<result property="maxNum" column="maxNum"/>
		<result property="price" column="price"/>
		<result property="totalNum" column="totalNum"/>
		<result property="num" column="num"/>
		<collection property="files" javaType="java.util.List" ofType="TourFilesVO">
			<id property="fnum" column="fnum" />
			<result property="fname" column="fname" />
			<result property="oname" column="oname" />
			<result property="timeTable" column="timeTable" />
			<result property="time" column="time" />
		</collection>
	</resultMap>

	<select id="tourList" resultMap="tourFile">
		select * from tour full outer join  tournotice using(tournum) full outer join tourfiles using(num) order by tourNum asc
	</select>
	
	<select id="tourImgList" parameterType="TourFilesVO" resultType="TourFilesVO">
		select fname, num from tourfiles where fnum = (select max(fnum) from tourfiles)

	</select>


<!--예약-->
	<insert id="Reservation" parameterType="ReservationVO">
		insert into reservation
		values
		(vip_seq.nextval,#{personNum}, #{name}, #{email}, #{phone}, #{day},
		#{tourNum}, #{ps}, #{totalPrice}, #{tourName}, #{kakaoID},#{tourEmail})
	</insert>
	
	<select id="ReservationList" parameterType="ReservationVO" resultType="ReservationVO">
		select * from reservation 
	</select>
	
	<select id="ReservationListMy" parameterType="ReservationVO" resultType="ReservationVO">
		select * from reservation where email=#{email}
	</select>
	
	<select id="ReservationResult" parameterType="ReservationVO" resultType="ReservationVO">
		select * from reservation 
	</select>
	
	<delete id="ReservationDelete" parameterType="ReservationVO">
		delete Reservation where reNum=#{reNum}	
	</delete>

<!--맞춤투어 예약-->

	<insert id="VReservation" parameterType="vReservationVO" >
		insert into vreservation
		values
		(vip_seq.nextval,#{name}, #{email},#{kakaoID},#{content},#{vday},#{vprice},#{tourEmail},'관리자 승인 대기',#{vps})
	</insert>
	
	<select id="VReservationMy" parameterType="vReservationVO" resultType="vReservationVO">
		select * from vreservation where email=#{email}
	</select>
	
	<delete id="VReservationDelete" parameterType="ReservationVO">
		delete Reservation where vipno=#{vipno}	
	</delete>
	

	
</mapper>