<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.nuri.s5.model.MemberVO" alias="MemberVO"/>
  		<typeAlias type="com.nuri.s5.model.ReviewVO" alias="ReviewVO"/>
  		<typeAlias type="com.nuri.s5.model.ReviewFilesVO" alias="ReviewFilesVO"/>
  		<typeAlias type="com.nuri.s5.util.Pager" alias="Pager"/>
  		<typeAlias type="java.lang.Integer" alias="Integer"/>
  		<typeAlias type="com.nuri.s5.model.QnaVO" alias="QnaVO"/>
  	</typeAliases>
  </configuration>